* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    width: 100vw;
    height: 56.9vw;
    padding: 1.7vw 3vw;
    grid-template-columns: 8fr 3fr;
    grid-template-rows: 7fr 1fr;
    row-gap: 2.9vw;
    background-color: red;
}

.img-slider{
    grid-column: 1/3;
    background-color: blue;
}

.text-slider{
    background-color: green;
}

.control{
    display: flex;
    justify-content: end;
    background-color:gray;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}
.button-outer{
    display: flex;
    width: 1.5em;
    height: 2em;
    align-items: center;
    justify-content: center;
    background-color:gray;
}
.button{
    display: flex;
    width: 1em;
    height: 1em;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:cornflowerblue;
}

.button-inner{
    display: none;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: gray;
}

.button-outer:hover .button {
    background-color: white;
}