* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:#484848;
}
.main-container {
    display: grid;
    width: 90%;
    /* height: 56.9vw; */
    padding: 1.7% 3%;
    grid-template-columns: 8fr 3fr;
    grid-template-rows: 7fr 1fr;
    row-gap: 2.9%;
}

.img-slider {
    grid-column: 1/3;
    overflow: hidden;
}

.control{
    display: flex;
    justify-content: end;
    align-items:flex-start;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}
.button-outer{
    display: flex;
    width: 1.5em;
    height: 2em;
    align-items:center;
    justify-content: center;
    cursor: pointer;
    /* background-color:#484848; */
}
.button{
    display: flex;
    width: 1em;
    height: 1em;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:cornflowerblue;
}

.button-inner{
    display: none;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #484848;
}

.button-outer:hover .button {
    background-color: white;
}

.button-outer:active .button {
    background-color: lightgray;
}

.images-container {
    overflow-x: hidden;
    white-space: nowrap;
}

img {
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 1s ease;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.txt{
    font-size: 1.5em;
    color: white;
    animation: fade-in 1s ease-in;
}

@media (max-width: 600px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 7fr 1fr;
    }

    .text-slider{
        grid-row: 3;
    }

    .control{
        justify-content: center;
        align-items:center;
        grid-row: 2;
    }
}